<app-navigation-header></app-navigation-header>
<div class="mt-5 col-md-4 mx-auto">
  <div class="card">
    <h4 class="card-header">Registrar nuevo usuario</h4>
    <div class="card-body">
      <form (submit)="signUp()">
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input
            type="text"
            [(ngModel)]="user.firstName"
            name="firstName"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="lastName">Apellido</label>
          <input
            type="text"
            [(ngModel)]="user.lastName"
            name="lastName"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="text"
            [(ngModel)]="user.email"
            name="email"
            class="form-control"
          />
        </div>
        
        <div class="form-group">
          <label for="cuil">CUIL</label>
          <input
            type="text"
            [(ngModel)]="user.cuil" 
            name="cuil"
            class="form-control"
          />
          <span style="color:red"> {{errorMsg}}</span>
        </div>
        <div class="form-group">
          <mat-checkbox style="font-size:16px" labelPosition="after" class="riesgo-check" name="riesgo" [(ngModel)]="user.riesgo">
            Paciente de riesgo
          </mat-checkbox>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="sede-dropdown" [(ngModel)]="user.sede" name="sede">
            <mat-label>Sede</mat-label>
            <mat-select>
              <mat-option *ngFor="let sede of sedes" [value]="user.sede.id" (onSelectionChange)="setSede(sede)">
                {{sede.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="register-buttons">
          <button type="submit" class="btn btn-primary btn-block">
            Registrarse
          </button>
          <a routerLink="/Home" class="btn btn-link">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
