<app-navigation-header></app-navigation-header>
<div class="mt-5 col-md-4 mx-auto">
  <div class="card">
    <h4 class="card-header">Registrar nuevo usuario</h4>
    <div class="card-body">
      <form (submit)="signUp()" ngNativeValidate>
        <div class="form-group">
          <label for="firstName"><b>Nombre</b></label>
          <input
            type="text"
            [(ngModel)]="user.firstName"
            name="firstName"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="lastName"><b>Apellido</b></label>
          <input
            type="text"
            [(ngModel)]="user.lastName"
            name="lastName"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="email"><b>E-mail</b></label>
          <input
            type="text"
            [(ngModel)]="user.email"
            name="email"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="cuil"><b>CUIL</b></label>
          <input
            type="text"
            [(ngModel)]="user.cuil"
            name="cuil"
            class="form-control"
            required
          />
          <span style="color: red"> {{ errorMsg }}</span>
        </div>

        <mat-form-field class="fechaNac" appearance="fill">
          <mat-label><b>Fecha de nacimiento</b></mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.fecha" name="fecha" required/>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
        <div class="riesgo">
          <mat-checkbox
            style="font-size: 16px"
            labelPosition="after"
            class="riesgo-check"
            name="riesgo"
            [(ngModel)]="user.riesgo"
          >
          <b>Paciente de riesgo</b>
          </mat-checkbox>
        </div>
        <div>
          <mat-form-field
            appearance="fill"
            class="sede"
            [(ngModel)]="user.sede"
            name="sede"
          >
            <mat-label>{{ user.sede.nombre }}</mat-label>
            <mat-select>
              <mat-option
                *ngFor="let sede of sedes"
                [value]="user.sede.id"
                (onSelectionChange)="setSede(sede)"
              >
                {{ sede.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="vacunasBlock">
          <div class="headerVacunas">
            <p class="tituloVacunas"><b>Vacunas aplicadas</b></p>
            <p class="subtituloVacunas"><i>Cantidad de dosis</i></p>
          </div>

          <mat-grid-list class="grid" cols="5" rows="6" rowHeight="fit" style="height: 500px">
            <mat-grid-tile [colspan]="2">
              <label class="covid"><b>Covid-19:</b></label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <mat-radio-group class="columnaDerecha" aria-label="dosisCovid">
                <div>
                  <mat-radio-button value="0">0</mat-radio-button>
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                </div>
              </mat-radio-group>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5">
              <mat-form-field appearance="fill">
                <mat-label><b>Última dosis de covid aplicada</b></mat-label>
                <input matInput [matDatepicker]="picker" [disabled]="dosisCovid==0" [(ngModel)]="user.fecha" name="ultimaCovid" required/>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2">
              <label class="gripe"><b>Gripe:</b></label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <mat-radio-group class="columnaDerecha" aria-label="dosisGripe">
                <mat-radio-button value="0">0</mat-radio-button>
                <mat-radio-button value="1">1</mat-radio-button>
              </mat-radio-group>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5">
              <mat-form-field appearance="fill">
                <mat-label><b>Última dosis de gripe aplicada</b></mat-label>
                <input matInput [matDatepicker]="picker" [disabled]="dosisGripe==0" [(ngModel)]="user.fecha" name="ultimaGripe" required/>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2">
              <label class="fiebreAmarilla"><b>Fiebre amarilla:</b></label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <mat-radio-group class="columnaDerecha" aria-label="dosisFiebreA">
                <mat-radio-button value="0">0</mat-radio-button>
                <mat-radio-button value="1">1</mat-radio-button>
              </mat-radio-group>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5">
              <mat-form-field appearance="fill">
                <mat-label><b>Última dosis de fiebre a. aplicada</b></mat-label>
                <input matInput [matDatepicker]="picker" [disabled]="dosisFiebre==0" [(ngModel)]="user.fecha" name="ultimaFiebre" required/>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

        </div>

        <div class="register-buttons">
          <button type="submit" class="btn btn-primary btn-block">
            Registrarse
          </button>
          <a routerLink="/Home" class="btn btn-link">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
