.perfilHolder {
  margin: 0 10vw;
}

.vacunasContainer {
  max-width:33vw;
  min-width: 30vw;
  float: left;
}

.planilla {
  max-width:33vw;
  min-width:30vw;
  background-color: #a2cb83;
  justify-content: center;
  float: right;
}

.mat-card-header {
  background-color: aliceblue;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.mat-card-actions{
  padding:0;
}

.subtitulo {
  margin: 0rem;
  margin-bottom: 2rem;
}

.holder {
  padding: 2rem;
  justify-content: center;
  margin: auto;
  width: 100%;
  line-height: 2rem;
}

.opciones {
  margin-left: 2rem;
}

.boton {
  width: 120px;
  font-size: 15px;
  background-color: #c0eacc;
}

.formulario {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formulario-ancho {
  width: 100%;
}

.campo {
  border-bottom: 2rem;
}

.inputTexto {
  background-color: white;
  padding: 5px;
}

.riesgo-check {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 1rem;
}

.sede {
  padding-left: 1rem;
}
