.contenedor {
  margin: auto;
  min-height: fit-content;
  width: 65%;
  margin-top: 3rem;
  background-color: #6eb882;
  align-self: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.categoria {
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.cuerpo {
  background-color: #92e3a9;
  min-height: 90%;
  min-width: 800px;
}

.botonRegresar {
  margin: 2rem;
  width: 130px;
  margin:auto;
}

.mat-header-cell {
  background-color: aliceblue;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.tablaTurnos {
  margin-bottom: 2rem;
}

.botonAceptar{
  margin-right: 8px;
}

.columnaNro {
  width: 5%;
}

.columnaNombre {
  width: 12%;
}

.columnaApellido{
  width: 12%;
}

.columnaVacuna {
  width: 10%;
}

.columnaSede {
  width: 20%;
}

.columnaRiesgo {
  width: 8%;
  text-align: center;
  height: 5px;
}

.columnaAcciones {
  width: 38%;
}

.botonConfirmar {
  background-color: rgb(79, 216, 79);
  width:60%;
  height: 2.5rem;
  font-size: 20px;
  vertical-align: middle;
}

.botonBorrar{
  background-color: rgb(219, 90, 86);
  margin-left: 1rem;
  height: 2rem;
  vertical-align: middle;
}

.visualizador {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: aliceblue;
  width: 350px;
  padding: 1rem;
  border-radius: 10px;
}

.mat-radio-button {
  padding-left: 20px;
}

.mat-row  {
  line-height: 4rem;
}
