<app-navigation-header></app-navigation-header>
<div class="mt-5 container">
<div class="row mx-auto">
  <div class="card">
    <h4 class="card-header">Iniciar Sesion</h4>
    <div class="card-body">
      <form (submit)="logIn()">
        <div class="form-group">
          <label for="cuil"> CUIL</label>
          <input
            type="text"
            [(ngModel)]="user.cuil"
            name="cuil"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="password"> Contraseña </label>
          <input
            type="password"
            [(ngModel)]="user.password"
            name="password"
            class="form-control"
          />
        </div>
        <div class="register-buttons">
          <button type="submit" class="btn btn-primary btn-block">
            Iniciar Sesion
          </button>
          <a routerLink="/Home" class="btn btn-link">Cancelar</a>
        </div>
      </form>
      <div>
        <a routerLink="/Recover"> Olvido su contraseña?</a>
      </div>
    </div>
  </div>
</div>
</div>
