.noticias {
  min-height: 9rem;
  padding-top: 1rem;
  width: 80%;
  background-color: #689f77;
  border-radius: 10px;
}

.noticia {
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
}

.fotoHolder {
  max-height: 300px;
  max-width: 87%;
  margin: 1rem;
  display: flex;
}

.foto {
  background-color: white;
  margin:auto;
  max-width: 400px;
  max-height: 300px;
}

.titulo {
  width: 90%;
}

.cuerpo {
  width: 90%;
}

.icono {
  width: fit-content;
  float: right;
  margin-right: 1rem;
}

.vacio  {
  background:#92e3a9;
  width: 70%;
  font-size:x-large;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}
