.noticias {
  min-height: 9rem;
  padding:1rem;
  padding-bottom:0.1rem;
  width: 80%;
  background-color: #689f77;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.noticia {
  margin-bottom:1rem;
  background-color: white;
}

.fotoHolder {
  max-width: 87%;
  height:auto;
  margin: 1rem;
  display: flex;
}

.foto {
  background-color: white;
  margin:auto;
  width:100%;
}

.titulo {
  width: 90%;
}

.cuerpo {
  width: 90%;
}

.icono {
  width: fit-content;
  float: right;
  margin-right: 1rem;
}

.vacio  {
  background:#92e3a9;
  width: 70%;
  font-size:x-large;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}
