.vacunasBlock {
  width: 100%;
  margin: auto;
  line-height: 2rem;
  background-color: #a2cb83;
  border-radius: 0px;
}

.headerVacunas {
  padding-top: 1rem;
  padding-left: 1rem;
  line-height: 10px;
  padding-bottom: 4px;
  background-color: aliceblue;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.grid {
  background-color: #a2cb83;
  width: 100%;
  position: flex;
  margin: auto;
}

.tituloVacunas {
  font-size: 18px;
}

.subtituloVacunas {
  padding-left: 1rem;
}

.covid {
  margin-right: 2rem;
  width: 100%;
  font-size: 16px;
  background-color: #689f77;
  color:#263238;
  padding-left: 1rem;
}

.fiebreAmarilla {
  margin-right: 2rem;
  width: 100%;
  font-size: 16px;
  background-color: #689f77;
  color:#263238;
  padding-left: 1rem;
}

.gripe {
  margin-right: 2rem;
  width: 100%;
  font-size: 16px;
  background-color: #689f77;
  color:#263238;
  padding-left: 1rem;
}

.mat-radio-button {
  margin-right: 1rem;
}

.columnaDerecha {
  width: 100%;
  float: right;
  padding-left: 1rem;
}
