<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<nav mat-toolbar class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/Home">
          <img width="117" height="69" src="assets/img/logo_VA.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a style="font-size:18px" class="nav-link active" routerLink="/Home">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a style="font-size:18px" class="nav-link" *ngIf="isLogged() && isAdmin()" routerLink="/NuevaNoticia">Agregar Noticia</a>
                </li>
                <li class="nav-item">
                  <a style="font-size:18px" class="nav-link" *ngIf="isLogged() && isAdmin()" routerLink="/BuscarPersona">Buscar Persona</a>
                </li>
            </ul>

            <ul class="navbar-nav" *ngIf="isLogged()">
                <li class="nav-item dropdown dropstart">
          <a style="font-size:18px"  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{usuario}} <i class="fa fa-user fa-2x"></i></a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/Perfil">Perfil</a>
                        <a class="dropdown-item" *ngIf="isLogged() && !isValidated()" routerLink="/ValidarIdentidad">Validar Identidad</a>
                        <a class="dropdown-item" routerLink="/Certificado" target="_blank">Certificado de vacunación</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="deleteAccountAttempt()">Eliminar cuenta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logOut()" routerLink="#">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="!isLogged()">
                <a mat-button class="nav-link" routerLink="/Login">Iniciar Sesión</a>
                <a mat-button class="nav-link" routerLink="/Register">Registrarse</a>
            </ul>
        </div>
    </div>
</nav>
