.login-button {
    background-color: transparent;
    border: 0;
    color: #979797;
}

.login-button:hover {
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}

.bg-primary {
    color: red !important;
    background-color: #a2cb83 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
