.contenedor {
  margin: auto;
  min-height: fit-content;
  width: 50%;
  margin-top: 3rem;
  background-color: #689f77;
  align-self: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.hintText {
  margin:auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.categoria {
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.cuerpo {
  background-color: #92e3a9;
  min-height: 90%;
}

.upload {
  margin: auto;
  margin-left: 22%;
}

input:placeholder-shown {
  font-style: italic;
}

textarea:placeholder-shown {
  font-style: italic;
}

.opciones {
  margin:auto;
  width: 50%;
}

.boton {
  margin: 1rem;
  width: 130px;
}

.mat-grid-list {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
