<app-navigation-header></app-navigation-header>
<div class="mt-5 col-md-4 mx-auto">
    <div class="card">
        <h4 class="card-header"> Recuperar contraseña</h4>
        <div class="card-body">
            <form (submit)="recoverPassword()">
                <div class="form-group">
                    <label for="cuil"> CUIL </label>
                    <input
                    type="text"
                    [(ngModel)]="user.cuil"
                    name="cuil"
                    class="form-control"
                    >
                </div>
                <div class="register-buttons">
                    <button type="submit" class="btn btn-primary btn-block">
                      Aceptar
                    </button>
                    <a routerLink="/Home" class="btn btn-link">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
