<div class="turnos" id="htmlData">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Vacuna</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cancelar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno of turnos">
                <th scope="row">{{turno.id}}</th>
                <td>{{turno.vacuna}}</td>
                <td>{{turno.fecha}}</td>
                <td>X</td>
            </tr>
        </tbody>
    </table>
</div>
