thead{
    background-color: #70c187  !important;
}

tbody{
    background-color: #92e3a9 !important;
}

.table-bordered, thead, td, th{
    border-style: solid !important;
    border-color: #689f77 !important;
}
