<app-navigation-header></app-navigation-header>
<div class="contenedor">
  <h4 class="categoria" style="font-size: 30px; color: white">
    Confirmar turno
  </h4>
  <mat-card class="seccion">
    <div class="titulo">
      Elegí fecha y hora para el turno:
    </div>
    <mat-card-content class="cuerpo" style="font-size: 16px">
      <mat-grid-list cols="3" rowHeight="fit" style="height: 440px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h3>CUIL:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{ user.cuil }}
        </mat-grid-tile>
        <mat-grid-tile class="columnaIzquierda" [colspan]="1" [rowspan]="1">
          <h3 color="#ffffff">Nombre:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{ user.nombre }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h3>Apellido:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{ user.apellido }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h3>Vacuna:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{ user.vacuna }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h3>Dosis:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          {{ user.dosis }}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1.5">
          <h3>Sede asignada:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1.5">
          <mat-form-field appearance="fill" class="sede">
            <mat-label>{{ sede.name }}</mat-label>
            <mat-select>
              <mat-option
                *ngFor="let sede of sedes"
                [value]="sede.nro"
                (click)="setSede(sede)"
              >
                {{ sede.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <h3>Fecha:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
          <mat-form-field class="formulario-ancho" appearance="fill">
            <input matInput [matDatepicker]="picker" name="fecha" [formControl]="user.fecha" required="false"/>
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month"></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <h3>Riesgo:</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span *ngIf="user.riesgo">
            <p style="color: rgb(219, 90, 86)"><b>Sí</b></p>
          </span>
          <span *ngIf="!user.riesgo">
            <p style="color:rgb(79, 216, 79)"><b>No</b></p>
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions class="opciones">
      <button mat-raised-button class="botonConfirmar" (click)="confirmarTurno()">
        Confirmar
      </button>
      <button mat-raised-button class="botonRegresar" routerLink="/AdministrarTurnos">
        Regresar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
