.contenedor {
  margin: auto;
  min-height: fit-content;
  width: fit-content;
  margin-top: 3rem;
  background-color: #6eb882;
  align-self: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.categoria {
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.cuerpo {
  background-color: #92e3a9;
  min-height: 90%;
  width: 100%;
}

.botonRegresar {
  margin: 2rem;
  width: 130px;
  margin:auto;
}

.mat-header-cell {
  background-color: aliceblue;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.tablaTurnos {
  margin-bottom: 2rem;
}

.accionesColumna{
  width: 35%;
}

.botonAceptar{
  margin-right: 8px;
}

.columnaFecCreada {
  width: 6rem;
}

.columnaNombre {
  width: 8rem;
}

.columnaApellido{
  width: 8rem;
}

.columnaEmail {
  width: 12rem;
}

.columnaCUIL {
  width: 8rem;
}

.columnaFecNac {
  width: 6rem;
}

.columnaRiesgo {
  width: 6rem;
}

.columnaSede {
  width: 10rem;
}

.visualizador {
  margin: auto;
  margin-bottom: 1rem;
  background-color: aliceblue;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
}

.mat-radio-button {
  padding-left: 20px;
}

.mat-hint {
  font-size: 16px;
  color:orange;
  padding-left: 2rem;
}

.mat-form-field {
  width: 150px;
  margin: 1rem;
}

.mat-header-cell {
  background-color:#6eb882;
}
