.holder {
  padding: 2rem;
  margin: auto;
  width: 100%;
}

.vacunasContainer {
  width:35%;
  margin-right: 3rem;
  float: left;
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.turnos {
  width: 25%;
  float: left;
  margin-right: 3rem;
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.planilla {
  width:33%;
  background-color: #a2cb83;
  justify-content: center;
  float: left;
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

.mat-card-header {
  background-color: aliceblue;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.mat-card-actions{
  padding:0;
}

.opciones {
  margin-left: 2rem;
}

.boton {
  width: 120px;
  font-size: 15px;
  background-color: #c0eacc;
}

.formulario {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formulario-ancho {
  width: 100%;
}

.campo {
  border-bottom: 2rem;
}

.inputTexto {
  background-color: white;
  padding: 5px;
}

.riesgo-check {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 1rem;
}

.sede {
  padding-left: 1rem;
}

.rol {
  padding-left: 1rem;
}

.headerPerfil {
  padding-top: 1rem;
  padding-left: 1rem;
  line-height: 10px;
  padding-bottom: 1px;
  background-color: aliceblue;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.titulo {
  font-size: 18px;
}

.subtitulo {
  padding-left: 2rem;
}
