<app-navigation-header></app-navigation-header>
<div class="holder">
  <app-admin-vacunas-edit #vacunasComp [id]="id" class="vacunasContainer"></app-admin-vacunas-edit>
  <app-admin-turnos-edit class="turnos"></app-admin-turnos-edit>
  <mat-card class="planilla">
    <div class="headerPerfil">
      <p class="titulo"><b><i>Datos del Paciente</i></b></p>
      <p class="subtitulo">(<i>{{ nivel }})</i></p>
    </div>
    <form (submit)="updateUser()" class="formulario">
      <mat-card-content>
        <mat-form-field class="formulario-ancho" appearance="fill">
          <mat-label><b>Nombre</b></mat-label>
          <input
            matInput
            [(ngModel)]="user.firstName"
            name="firstName"
            class="inputTexto"
          />
        </mat-form-field>
        <mat-form-field class="formulario-ancho" appearance="fill">
          <mat-label><b>Apellido</b></mat-label>
          <input
            matInput
            [(ngModel)]="user.lastName"
            name="lastName"
            class="inputTexto"
          />
        </mat-form-field>
        <mat-form-field class="formulario-ancho" appearance="fill">
          <mat-label><b>E-mail</b></mat-label>
          <input
            matInput
            [(ngModel)]="user.email"
            name="email"
            class="inputTexto"
          />
        </mat-form-field>
        <mat-form-field class="formulario-ancho" appearance="fill">
          <mat-label><b>CUIL</b></mat-label>
          <input
            matInput
            [(ngModel)]="user.cuil"
            name="cuil"
            class="inputTexto"
          />
        </mat-form-field>
        <mat-form-field class="formulario-ancho" appearance="fill">
          <mat-label><b>Fecha de Nacimiento</b></mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.fechaNac" name="fecha" required="false"/>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="rol">
          <mat-label>{{ nivel }}</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let rol of roles"
              [value]="rol.id"
              (click)="setRol(rol)"
            >
              {{ rol.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <mat-checkbox
            [(ngModel)]="user.riesgo"
            name="riesgo"
            labelPosition="after"
            class="riesgo-check"
          >
            Paciente de riesgo
          </mat-checkbox>
        </div>

        <mat-form-field appearance="fill" class="sede">
          <mat-label>{{ user.sede.nombre }}</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let sede of sedes"
              [value]="sede.id"
              (click)="setSede(sede)"
            >
              {{ sede.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="opciones">
        <button
          mat-button
          class="boton"
          color="primary"
        >
          Guardar
        </button>
        <button mat-button class="boton" (click)="verPerfil()">Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
