.planilla {
  width: 400px;
  background-color: #83e3c5;
  justify-content: center;
  float: right;
  margin-right: 2rem;
}

.subtitulo{
  margin: 0rem;
  margin-bottom: 2rem;
}

.holder {
  padding: 2rem;
  padding-left: 30rem;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  line-height: 2rem;
}

.opciones {
  margin-left: 2rem;
}

.boton {
  margin: 1rem;
  width: 100px;
}

.formulario {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formulario-ancho {
  width: 100%;
}

.campo {
  border-bottom: 2rem;
  background-color: red;
}

.inputTexto {
  background-color: white;
  padding: 5px;
}

.riesgo-check {
  padding-top: 10px;
  padding-bottom: 20px;
}
