.perfilHolder {
  margin: auto;
}

.vacunasContainer{
  margin: 2rem;
  width: 35%;
  float: left;
  margin-left:18%;
}

.planilla {
  width: 40%;
  background-color: #a2cb83;
  justify-content: center;
  float: right;
  margin-right: 20%;
}

.mat-card-header {
  background-color: aliceblue;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.subtitulo{
  margin: 0rem;
  margin-bottom: 2rem;
}

.holder {
  padding: 2rem;
  padding-left: 30rem;
  justify-content: center;
  margin: auto;
  width: 100%;
  line-height: 2rem;
}

.opciones {
  margin-left: 2rem;
}

.boton {
  margin: 1rem;
  width: 120px;
  font-size:15px;
  background-color: #c0eacc;
}

.formulario {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formulario-ancho {
  width: 100%;
}

.campo {
  border-bottom: 2rem;
}

.inputTexto {
  background-color: white;
  padding: 5px;
}

.riesgo-check {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 1rem;
}

.sede {
  padding-left: 1rem;
}
