<div  class="col-md-8" id="htmlData">
    <table class="table table-bordered">
        <tr class="table-primary">
            <th>Nombre</th>
            <th>Cuil</th>
            <th>Vacunas aplicadas</th>
        </tr>
        <tr>
            <th>{{user.nombre+' '+user.apellido}}</th>
            <th>{{user.cuil}}</th>
            <th *ngFor="let vacuna of user.vacunas">{{vacuna}}<th>
        </tr>
    </table>
</div>
<div>
    <button class="btn btn-succes btn-block" (click)="generatePDF()">Guardar PDF</button>
    <a routerLink="/Home" class="btn btn-link"> Cancelar </a>
</div>
