thead{
    background-color: #a2cb83 !important;
}

.table-bordered, thead, td, th{
    border-style: solid !important;
    border-color: #689f77 !important;
}

.table {
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
  margin-bottom: 3rem;
}
