<div  class="col-md-8" id="htmlData">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cuil</th>
                <th>Vacunas aplicadas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{user.nombre+' '+user.apellido}}</th>
                <th>{{user.cuil}}</th>
                <th>
                    <p *ngFor="let vacuna of user.vacunas">{{vacuna}}</p>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-succes btn-block" (click)="generatePDF()">Guardar PDF</button>
    <a routerLink="/Home" class="btn btn-link"> Cancelar </a>
</div>
