<app-navigation-header></app-navigation-header>
<div class="contenedor">
  <h4 class="categoria" style="font-size: 30px; color: white">
    Solicitar turno
  </h4>
  <mat-card class="seccion">
    <div class="titulo">
      ¿De qué vacuna querés solicitar tu turno?
    </div>
    <mat-card-content class="cuerpo" style="font-size: 16px">
      <mat-grid-list cols="2" rowHeight="fit" style="height: 100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button
            class="botonTurno"
            (click)="solicitarTurno(this.vacCovid, this.covid)"
          >
            Covid-19
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            class="botonTurno"
            (click)="solicitarTurno(this.vacGripe, this.gripe)"
          >
            Gripe
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="errorMsg">
        <span style="color: red"> {{ errorMsg }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions class="opciones">
      <button mat-raised-button class="actionBoton" routerLink="/Home">
        Regresar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
